<div class="centered-content">
    <div class="modal-box">
        <h1 class="modal-title">
            <strong class="centered-content">New Movie</strong>
        </h1> 
        <br/>
        <div class="centered-content">
            <p class="control">
                Enter title: <input #title type="text" name="title">
            </p>
            
        </div>
        <div class="centered-content">
            <p class="control">
                Enter genre: <input #genre type="text" name="title">
            </p>
            
        </div>
        <div class="centered-content">
            <p class="control">
                Enter size: <input #size type="text" name="title">
            </p>
            
        </div>
        <div class="centered-content">
            <p class="control">
                Enter quality: <input #quality type="text" name="title">
            </p>
            
        </div>
        <div class="centered-content">
            <p class="control">
                Enter details: <input #details type="text" name="title">
            </p>
            
        </div>
        
        <br/>
        <div class="centered-content">
            <p class="control">
                <a class="button is-primary" routerLink="/admin/movies">Cancel</a>
            </p>
            <p class="control">
                <a class="button is-primary" (click)="createMovie(title.value,genre.value,details.value,size.value,quality.value)">Create</a>
            </p>
            
        </div>
        
    </div>
</div>