<div class="centered-content">
    <div class="modal-box">
        <h1 class="modal-title">
            <strong class="centered-content">logout</strong>
        </h1> 
        <br/>
        <div class="centered-content">
            <p class="control">
                Are U sure?
            </p>
            
        </div><br/>
        <div class="centered-content">
            <p class="control">
                <a class="button is-primary" routerLink="/home">Cancel</a>
            </p>
            <p class="control">
                <a class="button is-primary" (click)="logout()">logout</a>
            </p>
            
        </div>
        
    </div>
</div>